<p><%= t("auth_system.mailer.header_html", email: "#{@email}") %></p>
<p><%= t("auth_system.mailer.confirmation_html") %></p>
<p><%= link_to t("auth_system.mailer.confirm_myaccount"), confirmation_url(@resource, confirmation_token: @token) %></p>
