<div class="row">
  <div class="large-10 columns">
    <% if Post.any? %>
        <%= render "posts/borderless" %>
    <% else %>
        <div style="width:220px;margin: 0 auto;text-align: center;">
          <h5>현재 등록된 글이 없습니다.</h5>
          <%= link_to "글작성", new_post_path, class: "button small info radius" if can? :edit, Post %>
        </div>
    <% end %>
  </div>
  <div class="large-2 columns">
    <div class="widget_container">
      <h3 class="title_container"><strong class="title"><%= link_to t("current_path.category"), categories_url %></strong></h3>
      <nav class="category_container">
        <ul>
          <% @category.each do |category| %>
              <li><%= link_to "• #{category.name} <small>(#{category.posts.size})</small>".html_safe, category, class: "ease" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</div>