<header id="header">
  <div class="row">
  <h2 class="logo"><%= link_to t("browser_title.default"), root_path, class: "logo_name animsition" %><span class="current_path"><%= current_path %></span></h2>
  <%= render "layouts/menu" %>
  </div>
</header>